<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <img src="pillar.png" alt="Girl in a jacket" class="pillar_one">
    <img src="pillar.png" alt="Girl in a jacket" class="pillar_two">

    <div class="container">
        <img src="logoPNG.png" alt="Girl in a jacket" class="main_picture">
        <div class="ButtonContainer">
            <button type="button" id="Button1" class="mainButton"> View Tab</button>
            <button type="button" id="Button2" class="mainButton"> Make Event</button>
            <button type="button" id="Button3" class="mainButton"> Enter a Student</button>
        </div>

        <div class="dropDown">
            <input placeholder="Enter Event" class="dropDownInput" id="eventInput"></input>
            <div class="content" id="eventContent">

                <button class="listObj">Basketball</button>
                <button class="listObj">Volleyball</button>
                <button class="listObj">Swimming</button>
                <button class="listObj">Track</button>
                <button class="listObj">Golf</button>
                <button class="listObj">Soccer</button>

            </div>
        </div>

        <input placeholder="Date" class="DateInput" id="DateInput"></input>
        <button id="enterButton">Enter</button>
    </div>

</body>
<link rel="stylesheet" href="style.css">
<script src="button.js"></script>
<script type="module" src="makeEventLogic.js"></script>ß
</script>

</html>