<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <img src="pillar.png" alt="Girl in a jacket" class="pillar_one">
    <img src="pillar.png" alt="Girl in a jacket" class="pillar_two">

    <div class="container">

        <img src="logoPNG.png" alt="Girl in a jacket" class="main_picture">

        <div class="ButtonContainer">
            <button type="button" id="Button1" class="mainButton"> View Tab</button>
            <button type="button" id="Button2" class="mainButton"> Make Event</button>
            <button type="button" id="Button3" class="mainButton"> Enter a Student</button>
        </div>
            <button id="studentInputButton">Enter</button>
            <div class="dropDown">
                <input placeholder="Enter Student" class="dropDownButton"></input>
                <div class="content">
                </div>

            </div>

            <div class="dropDown">
                <input placeholder="Enter Event" class="dropDownInput" id="eventInput"></input>
                <div class="content" id="eventContent">



                </div>
            </div>

            <div>
                <input id="pointInput" placeholder="point value"></input>
            </div>


    </div>


    <link rel="stylesheet" href="style.css">
</body>
<script src="button.js"></script>
<script type="module" src="eventEntryLogic.js"></script>

</html>